table, h1, form {
    margin: 5px;
}

table, tr {
    border: 2px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

#game_header, #summoner_handle {
    background-color: #99ddff;
}

.win {
    background-color: #99ff99;
}

.loss {
    background-color: #ff8080;
}

#page_header {
    margin-top: 12px;
    width: 100%;
}

#page_header *{
    display: inline-block;
    padding-right: 10px;
}

#game_index {
    width: 60vw;
}

#game_list {
    width: 60vw;
    margin: 5px;
}

#load {
    float: right;
    margin-bottom: 20px;
}

#glory {
    height: 100vh;
}

#page_content > div{
    display: inline-block;
}

#game_calculations {
    float: right;
    
    margin-top: 5px;
    margin-right: 20px;
}

#reset {
    border: none;
    background: none;
}

#recent_game_stats {
    text-align: center;
}

#recent_game_stats > div {
    display: inline-block;
}

#rg_content {
    border: 2px black solid;
}

#rg_slider_box {
    text-align: center;
}

#rg_slider {
    float: right;
    height: 200px;
    margin-right: 10px;
}

#rg_num {
    width: auto;
    text-align: right;
    
    border: none;
    background: none;
    
    margin-bottom: 15px;
    margin-right: 10px;
}

#summoner_name {
    margin: 0;
    padding: 5px;
    font-size: 55px;
}