<div class="calculation_content">
    
    <div id="recent_game_stats">
        <div id="rg_slider_box">
            <div id="rg_slider"></div>
            <div>
                <input type="text" id="rg_num" size="4" readonly>
            </div>
        </div>
        <div id="rg_content">
            <div id="summoner_handle">
                <h1 id="summoner_name">Hexaflexagon</h1>
            </div>
            <div id="recent_game_table">
                <div id="average_kda"></div>
                <div id="average_kda_box">
                    <div id="a_kda"></div>
                    <div id="kda_poc"></div>
                </div>
            </div>
            <hr/>
            <div id="wl_box">
                <div id="wl"></div>
                <div id="wlr"></div>
            </div>
        </div>
    </div>
    
    <div id="ranked_game_stats">
        
    </div>
    <div id="stats_chart">
        
    </div>
</div>