<div class="calculation_content">
    
    <div id="recent_game_stats">
        <div id="rg_slider_box">
            <div>
                <input type="text" id="rg_num" size="4" readonly>
            </div>
            <div id="rg_slider"></div>
        </div>
        <div id="rg_content">
            <div id="summoner_handle">
                <h1 id="summoner_name">Hexaflexagon</h1>
            </div>
            <table id="recent_game_table">
                <tr id="average_kda"></tr>
            </table>
        </div>
    </div>
    
    <div id="ranked_game_stats">
        
    </div>
    <div id="stats_chart">
        
    </div>
</div>