<DOCTYPE html>
<html>
	<head>
		
		<title>Riot Archive</title>
		
		<!-- Standard Meta Build -->
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
       	<meta name="viewport" content="width=device-width, initial-scale=1">
       	<meta name="description" content="an archiver that uses the riot api">
       	<meta name="author" content="Parker Griep">
		
		<!--JQuery-->
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<!--JQuery UI-->
		<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
		<!--JQuery CSS-->
		<link href="/css/jquery-ui.min.css" rel="stylesheet">
		<link href="/css/jquery-ui.structure.min.css" rel="stylesheet">
		<link href="/css/jquery-ui.theme.min.css" rel="stylesheet">
		<!--Bootstrap CSS-->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<!--Bootstrap Js-->
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<!--Canvas JS-->
		<script type="text/javascript" src="/js/canvasjs.min.js"></script>
		<!--Custom Fonts-->
		<!--<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>-->
		<!--Custom CSS-->
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		
		<div class="wrapper">
            <div class="flash">
                <% ['notice', 'error', 'alert'].each do |message| %>
                    <% if flash[message.to_sym] %>
                        <div id="flash-notice">
                            <h5> <%= flash[message.to_sym] %> </h5>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="all">
		        <%= yield %>
            </div>
		</div>
		
	</body>