<form id="login_form" action="/login" method="post">
    <h1>Username: </h1>
    <input type="text" name="username"/> <br>
    <h1>Password: </h1>
    <input type="password" name="password"/> <br>
    <button id= "login_button" type="submit">Log In</button> <br>
    <button id="signup_button"><a id="signup_link" href="/signup"> --> Sign Up</a></button>
</form>